<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SIP Messenger</title>
  <script src="https://cdn.jsdelivr.net/npm/sip.js@0.20.0/dist/sip.min.js"></script>
</head>
<body>
  <h1>SIP Flask Chat</h1>
  <input type="text" id="username" placeholder="Your name">
  <div id="chat-box" style="height:300px;overflow:auto;border:1px solid #ccc;margin:10px 0;"></div>
  <input type="text" id="message" placeholder="Type message">
  <button onclick="sendMessage()">Send</button>

  <h2>SIP Звонки</h2>
<input type="text" id="callee" placeholder="Кому позвонить (SIP URI)">
<button onclick="makeCall()">Позвонить</button>
<button onclick="hangUp()">Завершить звонок</button>
<audio id="remoteAudio" autoplay></audio>


  <script src="/static/script.js"></script>
</body>
</html>
